**Day 2 coding**

In [1]:
print("this is my first code")

this is my first code

Loops in python

In [2]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

square of above number

In [5]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

function in pythons

In [9]:
def calculate_square(length):
  return length*length

print("the area of first square:",calculate_square(int(input("enter the length:"))))

enter the length:167
the area of first square: 27889

**Homework: find area of circle**

List in Python

In [14]:
fruits = ["apples","banana","mango","watermelon"]
print(fruits)

# print(fruits[0]) #first index
# print(fruits[-1]) #last index
# print(fruits[-2])

#adding and removing
fruits.append("pineapple")
print(fruits)
fruits.remove("mango")
print(fruits)

['apples', 'banana', 'mango', 'watermelon']
['apples', 'banana', 'mango', 'watermelon', 'pineapple']
['apples', 'banana', 'watermelon', 'pineapple']

Sets and Tuples(home research)

Dictionary in python

In [20]:
student ={
    "name":"shrijal",
    "class": 10,
    "gender": "male"
}
#accessing values
print(student["name"])

#updating values
student["class"] = "12"
print(student)

#adding new key-value
student['rollno'] = 1
print(student)

#deleting key-value
del student["class"]
print(student)

shrijal
{'name': 'shrijal', 'class': '12', 'gender': 'male'}
{'name': 'shrijal', 'class': '12', 'gender': 'male', 'rollno': 1}
{'name': 'shrijal', 'gender': 'male', 'rollno': 1}